.footerNav {
	box-sizing: border-box;
	width: 100%;
	height: calc(50px + env(safe-area-inset-bottom));
	padding: 0 10px;
	background: var(--bodyHarsh);
	padding-bottom: env(safe-area-inset-bottom);
	border-top: 1px solid var(--border);
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;

	a {
		color: inherit;
	}

	.footerIcon {

		span {
			display: none;
		}

	}

}