
@import "footer";

%center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	margin-top: calc(50px + env(safe-area-inset-top));
}

header {
	width: 100%;
	height: 50px;
	padding-top: env(safe-area-inset-top);
	background: var(--main);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	@extend %center;

	& > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	img.icon {
		height: 30px;
		display: block;
	}

	nav {

		a {
			color: inherit;
		}

		a + a {
			margin-left: 20px;
		}
	}

}