:root {
  --main: #485acf;
  --text: #191919;
  --bodyHarsh: #F2F3F7;
  --body: white;
  --border: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  body {
    --main: black;
    --text: white;
    --body: #191919;
    --bodyHarsh: var(--body);
    --border: rgba(255, 255, 255, 0.1);
  }
}
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: var(--body);
  color: var(--text);
}

header, .bodyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyWidth {
  width: 80%;
  max-width: 1300px;
}

.search {
  padding: 5vw;
}

.bodyWrapper .body {
  width: 100%;
  padding-bottom: calc(30px + 1px + 20px + env(safe-area-inset-top));
}
.bodyWrapper .chapterList {
  padding: 5vw;
}

nav.chapterNav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: var(--border);
  overflow: hidden;
}
nav.chapterNav .chapterNavItem {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  padding: 10px;
  background: var(--bodyHarsh);
  text-decoration: none;
  color: var(--text);
}
nav.chapterNav .chapterNavItem svg {
  display: block;
}
nav.chapterNav .chapterNavItem + .chapterNavItem {
  margin-left: 1px;
}

@media screen and (min-width: 701px) {
  nav.chapterNav {
    right: 10px;
    top: 60px;
    border: 1px solid var(--border);
    border-radius: 4px;
  }
  nav.chapterNav .chapterNavItem {
    grid-template-columns: 100%;
  }
  nav.chapterNav .chapterNavItem span {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  nav.chapterNav {
    width: 100%;
    left: 0;
    bottom: calc(50px + 1px + env(safe-area-inset-bottom));
    background: var(--bodyHarsh);
    border-top: 1px solid var(--border);
  }
  nav.chapterNav .chapterNavItem {
    background: transparent;
  }

  .imageWrapper img.pageImg {
    height: calc(100vh - 50px - 60px);
  }
}
@media (hover: hover) {
  .chapterNavItem {
    transition: background 100ms;
  }
  .chapterNavItem:hover {
    background: var(--border);
  }
}
.footerNav {
  box-sizing: border-box;
  width: 100%;
  height: calc(50px + env(safe-area-inset-bottom));
  padding: 0 10px;
  background: var(--bodyHarsh);
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1px solid var(--border);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerNav a {
  color: inherit;
}
.footerNav .footerIcon span {
  display: none;
}

header, .bodyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin-top: calc(50px + env(safe-area-inset-top));
}

header {
  width: 100%;
  height: 50px;
  padding-top: env(safe-area-inset-top);
  background: var(--main);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}
header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img.icon {
  height: 30px;
  display: block;
}
header nav a {
  color: inherit;
}
header nav a + a {
  margin-left: 20px;
}

.chapterLink .isLink .linkImage, .chapterLink .isLink {
  border-radius: 4px;
  border: 1px solid var(--border);
  box-sizing: border-box;
}

.mangaList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}

.chapterLink .isLink {
  height: 100%;
  text-decoration: none;
  color: var(--main);
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}
.chapterLink .isLink .linkImage {
  width: 100%;
}

.page .pageImg {
  object-fit: contain;
  display: block;
}

.imageWrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.imageWrapper img {
  scroll-snap-align: start;
  width: 100vw;
  height: calc(100vh - 50px - 20px - 30px);
  max-height: calc(100vh - 50px - 20px - 30px);
}

@media screen and (max-width: 700px) {
  .imageWrapper img {
    height: calc(100vh - 50px - 30px - 150px + env(safe-area-inset-bottom));
    max-height: calc(100vh - 50px - 30px - 150px + env(safe-area-inset-bottom));
  }
}

/*# sourceMappingURL=main.css.map */
