
%border {
	border-radius: 4px;
	border: 1px solid var(--border);
	box-sizing: border-box;
}

.mangaList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 20px;
}

.chapterLink .isLink  {

	height: 100%;
	text-decoration: none;
	color: var(--main);
	padding: 20px;
	@extend %border;

	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;

	.linkImage {
		width: 100%;
		@extend %border;
	}

}

.page .pageImg {
	object-fit: contain;
	display: block;
}

.imageWrapper {
	display: flex;
	flex-wrap: nowrap;
	max-width: 100vw;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;

	img {
		scroll-snap-align: start;
		width: 100vw;
		$mh: calc(100vh - 50px - 20px - 30px);
		height: $mh;
		max-height: $mh;
	}

}

@media screen and (max-width: 700px) {
	.imageWrapper img {
		$mh: calc(100vh - 50px - 30px - 150px + env(safe-area-inset-bottom));
		height: $mh;
		max-height: $mh;
	}
}