
:root {
	--main: #485acf;
	--text: #191919;
	--bodyHarsh: #F2F3F7;
	--body: white;
	--border: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
	body {
		--main: #5855ff;
		--text: white;
		--body: #191919;
		--bodyHarsh: var(--body);
		--border: rgba(255, 255, 255, 0.1);
	}
}

body {
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: var(--body);
	color: var(--text);
}

%center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@import "layout";
@import "layout/nav";
@import "layout/header";
@import "manga";